    <h1>Frequently Asked Questions</h1>
    <p>
      <a href="http://celll-monitor.com/faq">Celll Monitor Frequently Asked Questions</a>
      is a question and answer system that helps alleviate any misunderstanding that a person
      might have with the system and the methods of the Celll Monitor cell growth systems.
    </p>

