              <div id="fieldset_title">

                  <span id="fieldset_member_icon">
                  <!-- end #fieldset_member_icon --></span>

                  <span id="fieldset_middle">
                  <!-- end #fieldset_middle --></span>

                  <span id="fieldset_right">
                  <!-- end #fieldset_right --></span>

              <!-- end #fieldset_title --></div>

              <div id="fieldset_body">

                  <span class="fieldset_body_left">
                  <!-- end .fieldset_body_left --></span>

                  <span id="fieldset_body_middle">

                      <section class="round">
                        <% flash.each do |key, value| %>
                          <div class="flash <%= key %>"><%= value %></div>
                        <% end %>
                      </section>

                      <div id="fieldset_content"><%= yield %>
                      <!-- end #fieldset_content --></div>

                  <!-- end #fieldset_body_middle --></span>

                  <span class="fieldset_body_left">
                  <!-- end .fieldset_body_left --></span>

              <!-- end #fieldset_body --></div>

