      <div id="footer">

          <div id="footer_top">
          <!-- end #footer_top --></div>

          <div id="footer_navigation">

              <span class="footer_button"><a href="">Community</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">FAQ</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">Gallery</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">Multimedia</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">Help</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">Rankings</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">Blogs</a>
              <!-- end .footer_button --></span>

              <span class="footer_button"><a href="">Contact</a>
              <!-- end .footer_button --></span>

          <!-- end #footer_navigation --></div>

          <div id="footer_space_text">
          <!-- end #footer_space_text --></div>

          <div id="footer_content">
          <!-- end #footer_content --></div>

          <div id="copyright">© MVA Contest, 2011
          <!-- end #copyright --></div>

      <!-- end #footer --></div>

