              <div id="fieldset_body">

                  <span class="fieldset_body_left_gap">
                  <!-- end .fieldset_body_left_gap --></span>

                  <span class="instruction_left">
                  <!-- end .instruction_left --></span>

                  <span class="instruction_box">

                      <div class="instruction_header">

                          <span class="instruction_header_left">
                          <!-- end .instruction_header_left --></span>

                          <span class="instruction_header_middle">
                          <!-- end .instruction_header_middle --></span>

                          <span class="instruction_header_right">
                          <!-- end .instruction_header_right --></span>

                      <!-- end .instruction_header --></div>

                      <div class="instruction_top">

                          <div class="instruction_space_1">
                          <!-- end .instruction_space_1 --></div>

                          <a href="">

                          		<div class="instruction_icon_1">
                          		<!-- end .instruction_icon_1 --></div>

                          </a>

                          <div class="instruction_space_2">
                          <!-- end .instruction_space_2 --></div>

                          <a href="">

                              <div class="instruction_note_1">
                              <!-- end .instruction_note_1 --></div>

                          </a>

                      <!-- end .instruction_top --></div>

                      <div class="instruction_footer">

                          <span class="instruction_footer_left">
                          <!-- end .instruction_footer_left --></span>

                          <span class="instruction_footer_middle">
                          <!-- end .instruction_footer_middle --></span>

                          <span class="instruction_footer_right">
                          <!-- end .instruction_footer_right --></span>

                      <!-- end .instruction_footer --></div>

                  <!-- end .instruction_box --></span>

                  <span class="instruction_separator">
                  <!-- end .instruction_separator --></span>

                  <span class="instruction_box">

                      <div class="instruction_header">

                          <span class="instruction_header_left">
                          <!-- end .instruction_header_left --></span>

                          <span class="instruction_header_middle">
                          <!-- end .instruction_header_middle --></span>

                          <span class="instruction_header_right">
                          <!-- end .instruction_header_right --></span>

                      <!-- end .instruction_header --></div>

                      <div class="instruction_top">

                          <div class="instruction_space_1">
                          <!-- end .instruction_space_1 --></div>

                          <a href="">

                          		<div class="instruction_icon_2">
                          		<!-- end .instruction_icon_2 --></div>

                          </a>

                          <div class="instruction_space_2">
                          <!-- end .instruction_space_2 --></div>

                          <a href="">

                              <div class="instruction_note_2">
                              <!-- end .instruction_note_2 --></div>

                          </a>

                      <!-- end .instruction_top --></div>

                      <div class="instruction_footer">

                          <span class="instruction_footer_left">
                          <!-- end .instruction_footer_left --></span>

                          <span class="instruction_footer_middle">
                          <!-- end .instruction_footer_middle --></span>

                          <span class="instruction_footer_right">
                          <!-- end .instruction_footer_right --></span>

                      <!-- end .instruction_footer --></div>

                  <!-- end .instruction_box --></span>

                  <span class="instruction_separator">
                  <!-- end .instruction_separator --></span>

                  <span class="instruction_box">

                      <div class="instruction_header">

                          <span class="instruction_header_left">
                          <!-- end .instruction_header_left --></span>

                          <span class="instruction_header_middle">
                          <!-- end .instruction_header_middle --></span>

                          <span class="instruction_header_right">
                          <!-- end .instruction_header_right --></span>

                      <!-- end .instruction_header --></div>

                      <div class="instruction_top">

                          <div class="instruction_space_1">
                          <!-- end .instruction_space_1 --></div>

                          <a href="">

                          		<div class="instruction_icon_3">
                          		<!-- end .instruction_icon_3 --></div>

                          </a>

                          <div class="instruction_space_2">
                          <!-- end .instruction_space_2 --></div>

                          <a href="">

                              <div class="instruction_note_3">
                              <!-- end .instruction_note_3 --></div>

                          </a>

                      <!-- end .instruction_top --></div>

                      <div class="instruction_footer">

                          <span class="instruction_footer_left">
                          <!-- end .instruction_footer_left --></span>

                          <span class="instruction_footer_middle">
                          <!-- end .instruction_footer_middle --></span>

                          <span class="instruction_footer_right">
                          <!-- end .instruction_footer_right --></span>

                      <!-- end .instruction_footer --></div>

                  <!-- end .instruction_box --></span>

                  <span class="instruction_separator">
                  <!-- end .instruction_separator --></span>

                  <span class="instruction_box">

                      <div class="instruction_header">

                          <span class="instruction_header_left">
                          <!-- end .instruction_header_left --></span>

                          <span class="instruction_header_middle">
                          <!-- end .instruction_header_middle --></span>

                          <span class="instruction_header_right">
                          <!-- end .instruction_header_right --></span>

                      <!-- end .instruction_header --></div>

                      <div class="instruction_top">

                          <div class="instruction_space_1">
                          <!-- end .instruction_space_1 --></div>

                          <a href="">

                          		<div class="instruction_icon_4">
                          		<!-- end .instruction_icon_4 --></div>

                          </a>

                          <div class="instruction_space_2">
                          <!-- end .instruction_space_2 --></div>

                          <a href="">

                              <div class="instruction_note_4">
                              <!-- end .instruction_note_4 --></div>

                          </a>

                      <!-- end .instruction_top --></div>

                      <div class="instruction_footer">

                          <span class="instruction_footer_left">
                          <!-- end .instruction_footer_left --></span>

                          <span class="instruction_footer_middle">
                          <!-- end .instruction_footer_middle --></span>

                          <span class="instruction_footer_right">
                          <!-- end .instruction_footer_right --></span>

                      <!-- end .instruction_footer --></div>

                  <!-- end .instruction_box --></span>

                  <span class="instruction_right">
                  <!-- end .instruction_right --></span>

              <!-- end #fieldset_body --></div>

