      <div id="second_navigation">

          <div id="second_navigation_middle">

              <span id="second_navigation_middle_left">
              <!-- end #second_navigation_middle_left --></span>

              <span id="second_navigation_home">
              <!-- end #second_navigation_home --></span>

              <span id="second_navigation_middle_center">
              <!-- end #second_navigation_middle_center --></span>

              <span id="second_navigation_middle_right">
              <!-- end #second_navigation_middle_right --></span>

          <!-- end #second_navigation_middle --></div>

      <!-- end #second_navigation --></div>

