              <div id="title_bar">

                  <span id="title">
                  <!-- end #title --></span>

                  <span id="title_middle">
                  <!-- end #title_middle --></span>

                  <span id="title_right">
                  <!-- end #title_right --></span>

              <!-- end #title_bar --></div>

